body{
    background-color: khaki;
}
#box1{
    width: 25vw;
    height: 20vh;
    background-color: indianred;
    transition: background-color 2s,
    width 1s;
}

#box1:hover{
    background-color: purple;
    width: 80vw
}

#box2{
    width: 25vw;
    height:20vh;
    position: relative;
    background-color: orangered;
    animation-name: box2move;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

@keyframes box2move{
    from {
        translate: 0, 0;
    }

    25% {
        translate: 50vw 40vh;
    }

    50% {
        translate: 50vw 0;
    }

    75% {
        translate: 0vw 40vh;
    }
    
    to {
        translate: 0 0;
    }
}