body{
    justify-content: center;
    align-items: center;
    background-color: rgb(160, 173, 177);
    font-family: 'Courier New', Courier, monospace;
}

header{
    width: 600px;
    margin:auto;
}

article{
    justify-content: center;
    align-items: stretch;
    width:500px;
    row-gap: 15px;
    column-gap: 15px;
}

article, .box{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

form {
    width: 500px;
    margin: auto;
}

.a, .b, .c, .d, .e, .f, .g, .h, .i {
    background-color: rgb(223, 240, 227);
}

footer {
    width: 500px;
    margin: 0vw 200px;
}

.postsudoku {
    width: 100px;
    margin: auto;
}

input {
    width: 80%;
}

.entry {
    background-color: rgb(93, 235, 58);
}

.red {
    background-color: rgb(216, 156, 156);
}

.good {
    background-color: None;
}